@media (prefers-color-scheme: dark) {
  :root {
   --bg-image: url(/images/cover-image-dark.png);
  
    --header-text-color: #db00ff;
    --header-text-shadow: #ff0070;
    --content-heading-color: #ff0070;
    --bg-color: #000028;
    --text-color: #f1b2ce;
    --accent-color: #ff0070;
    --button-text-color: #ff0070;
    --title-text-color: #000028;
    --point-shadow: rgba(255, 0, 112, 0.7);
    --decorate-zone-color: #ff0070;
    --footer-text-color: #db00ff;
    --footer-text-shadow: #ff0070;
    --link-text-shadow: #ff0070;
    --link-underline-shadow: #f1b2ce;
    --link-focus-visible: #f1b2ce;

    --button-border-focus-visible: 1px solid #ff0070;
    --button-border-hover: 1px solid rgba(255, 0, 112, 0.4);
    --button-border-active: 1px solid #ff0070; 
    }
  }

.page.theme_dark {
  --bg-image: url(/images/cover-image-dark.png);

  --header-text-color: #db00ff;
  --header-text-shadow: #ff0070;
  --content-heading-color: #ff0070;
  --bg-color: #000028;
  --text-color: #f1b2ce;
  --accent-color: #ff0070;
  --button-text-color: #ff0070;
  --title-text-color: #000028;
  --point-shadow: rgba(255, 0, 112, 0.7);
  --decorate-zone-color: #ff0070;
  --footer-text-color: #db00ff;
  --footer-text-shadow: #ff0070;
  --link-text-shadow: #ff0070;
  --link-underline-shadow: #f1b2ce;
  --link-focus-visible: #f1b2ce;

  --button-border-focus-visible: 1px solid #ff0070;
  --button-border-hover: 1px solid rgba(255, 0, 112, 0.4);
  --button-border-active: 1px solid #ff0070;
}

