@media (prefers-color-scheme: light) {
:root {
 --bg-image: url(/images/cover-image-light.png); 

  --header-text-color: #FFC2E6;
  --header-text-shadow: #FF0070;
  --footer-text-color: #FFC2E6;
  --footer-text-shadow: #FF0070;
  --decorate-zone-color: hsl(48, 5%, 20%);
  --content-heading-color: #353430;
  --title-text-color: #353430;
  --bg-color: #FFF1F7;
  --text-color: #353430;
  --accent-color: #FF8DCB;
  --button-text-color: #353430;
  --link-text-shadow: #FF8DCB;
  --link-underline-shadow: #353430;
  --link-focus-visible: #353430;

  --button-border-focus-visible: 1px solid #353430;
  --button-border-hover: 1px solid rgba(50, 49, 45, 0.40);
  --button-border-active: 1px solid #353430; 
  }

  .page.theme_auto .decorated-zone__text {
    display: none;
  }
}

.page.theme_light {
  --bg-image: url(/images/cover-image-light.png); 

  --header-text-color: #FFC2E6;
  --header-text-shadow: #FF0070;
  --footer-text-color: #FFC2E6;
  --footer-text-shadow: #FF0070;
  --decorate-zone-color: #353430;
  --content-heading-color: #353430;
  --title-text-color: #353430;
  --bg-color: #FFF1F7;
  --text-color: #353430;
  --accent-color: #FF8DCB;
  --button-text-color: #353430;
  --link-text-shadow: #FF8DCB;
  --link-underline-shadow: #353430;
  --link-focus-visible: #353430;

  --button-border-focus-visible: 1px solid #353430;
  --button-border-hover: 1px solid rgba(50, 49, 45, 0.40);
  --button-border-active: 1px solid #353430; 
  }

  .page.theme_light .decorated-zone__text {
    display: none;
  }