/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  background-color: var(--bg-color, #000028);
  font-family: var(--main-font, sans-serif);
  color: var(--text-color, #f1b2ce);
  background-image: var(--bg-image, url(/images/cover-image-dark.png));
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
}

.header {
  position: relative;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  height: 100vh;
  padding: var(--main-gap, 20px);
}

.decorated-zone__text::before {
  content: "REC";
  position: absolute;
  top: 20px;
  right: 48px;
  color: var(--accent-color, #ff0070);
  font-family: inherit;
  font-size: 18px;
  font-style: normal;
  text-transform: uppercase;
  font-weight: 400;
  line-height: 25px;
}

.decorated-zone__text::after {
  content: "";
  position: absolute;
  width: 9px;
  height: 9px;
  background-color: var(--accent-color, #ff0070);
  border-radius: 50%;
  box-shadow: 0 0 3px 3px var(--point-shadow, #ff0070);
  top: 28px;
  right: 29px;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  display: block;
  top: 20px;
  right: 20px;
  width: 25px;
  height: 25px;
  border-block-start: 1px solid var(--decorate-zone-color, #ff0070);
  border-inline-end: 1px solid var(--decorate-zone-color, #ff0070);
}

.decorated-zone::after {
  content: "";
  display: block;
  position: absolute;
  width: 25px;
  height: 25px;
  border-block-end: 1px solid var(--decorate-zone-color, #ff0070);
  border-inline-start: 1px solid var(--decorate-zone-color, #ff0070);
  bottom: 20px;
  left: 20px;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
}

.header__theme-menu-item {
  width: 70px;
  text-align: center;
  vertical-align: middle;
  width: 70px;
  height: 26px;
}

.header .header__theme-menu-button {
  background-color: transparent;
}

.header__theme-menu-button {
  color: var(--button-text-color, #ff0070);
  text-align: center;
  font-family: var(--main-font, sans-serif);
  font-size: 18px;
  font-style: normal;
  text-transform: lowercase;
  font-weight: 400;
  line-height: 18px;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.header__theme-menu-button:focus-visible {
  border-block-end: var(--button-border-focus-visible, #ff0070);
}

.header__theme-menu-button:hover {
  border: var(--button-border-hover, rgba(255, 0, 112, 0.4));
}

.header__theme-menu-button_active {
  border: var(--button-border-active, #ff0070);
  pointer-events: none;
}

.header__title {
  color: var(--header-text-color);
  font-size: var(
    --header-font-size,
    clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem)
  );
  text-shadow: 4px 4px 0 var(--header-text-shadow, #ff0070);
  font-style: normal;
  font-weight: 700;
  line-height: 82.5%;
  position: sticky;
  margin-inline-start: -20px;
}

.header__content {
  align-self: center;
  justify-self: end;
  width: 50%;
}

.header__description {
  color: var(--title-text-color, #000028);
  font-family: var(--main-font, sans-serif);
  font-size: var(--page-font-size, 18px);
  font-style: normal;
  font-weight: 700;
  line-height: 23.4px;
}

.title-decor {
  background-color: var(--accent-color, #ff0070);
}

.content__link {
  position: relative;
  text-shadow: 2px 1.5px 0 var(--link-text-shadow, #ff0070);
}

.content__link:hover {
  border-block-end: 1px solid var(--link-underline-shadow, #f1b2ce);
}

.content__link:focus-visible::before {
  content: '';
  position: absolute;
  width: calc(100% + 5px);
  inset: 3px -2px 0;
  height: 20px;
  border: 1px solid var(--link-focus-visible, #f1b2ce);
}

.content {
  padding: 60px var(--main-gap, 20px) 60px;
}

.content__heading {
  color: var(--content-heading-color, #ff0070);
  font-family: inherit;
  font-size: var(--page-font-size, 18px);
  font-style: normal;
  font-weight: 700;
  line-height: 23.4px;
}

.card__title {
  color: var(--title-text-color, #000028);
  font-family: inherit;
  font-size: var(--page-font-size, 18px);
  font-style: normal;
  font-weight: 700;
  line-height: 23.4px;
  margin-block-end: 10px;
}

.card__text {
  color: var(--text-color, #f1b2ce);
  font-family: inherit;
  font-size: var(--page-font-size, 18px);
  font-style: normal;
  font-weight: 400;
  line-height: 23.4px;
}

ul.content__card-list li {
  margin-block-end: 80px;
}

.content__card-first {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: var(--main-gap, 20px);
}

.content__card-first .content__heading {
  grid-column: 1/2;
}

.content__card-first .content__card-item {
  grid-column: 2/4;
}

.content__card-second {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);
  grid-gap: var(--main-gap, 20px);
}

.content__card-second .content__heading {
  grid-column: 1/2;
  grid-row: 1/2;
}

.content__card-second .content__card-item {
  grid-row: 2/3;
}

.content__card-second .content__card-item:nth-of-type(1) {
  grid-column: 1/2;
}

.content__card-second .content__card-item:nth-of-type(2) {
  grid-column: 2/3;
}

.content__card-second .content__card-item:nth-of-type(3) {
  grid-column: 3/4;
}

.content__card-third {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: var(--main-gap, 20px);
}

.content__card-third .content__heading {
  grid-column: 1/2;
}

.content__card-third .content__card-item {
  grid-column: 2/4;
}

.content__card-third h3.card__title:first-of-type {
  margin-block-end: var(--main-gap, 20px);
}

.content__card-third h4.card__title {
  font-weight: 400;
}

h5.card__title {
  margin-block-end: var(--main-gap, 20px);
}

.images__block {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, minmax(min-content, max-content));
  grid-template-rows: repeat(3, minmax(min-content, max-content));
  grid-gap: 20px;
}

.image-item {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

.image-one {
  grid-column: 1/3;
  grid-row: 1/2;
}

.image-two {
  grid-column: 3/4;
  grid-row: 1/3;
}

.image-three {
  grid-column: 4/2;
  grid-row: 3/4;
}

.image-four {
  grid-column: 2/3;
  grid-row: 2/3;
}

.image-five {
  grid-column: 1/2;
  grid-row: 2/4;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 100vh;
  padding: var(--main-gap, 20px);
}

.footer__copyright {
  font-size: var(
    --footer-font-size,
    clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem)
  );
  color: var(--footer-text-color, #db00ff);
  text-shadow: 2px 2px 0px var(--footer-text-shadow, #ff0070);
  font-family: var(--main-font, sans-serif);
  text-align: center;
  font-style: normal;
  font-weight: 700;
  line-height: 82.5%;
}

@media (width < 1024px) {
  .header__theme-menu {
    display: flex;
    justify-self: end;
    align-self: center;
  }

  .header__theme-menu-list {
    flex-direction: column;
  }

  .content__card-first {
    grid-template-columns: 1fr 2fr;
  }

  .content__card-first .content__card-item {
    grid-column: 2/3;
  }

  .content__card-second {
    display: flex;
    flex-direction: column;
  }

  .content__card-second .content__heading {
    display: block;
    width: 30%;
  }

  .content__card-third {
    grid-template-columns: 1fr 2fr;
  }

  .content__card-third .content__card-item {
    grid-column: 2/3;
  }
}

@media (width < 768px) {
  .header__theme-menu {
    display: flex;
    justify-self: end;
    align-self: center;
  }

  .header__theme-menu-list {
    flex-direction: column;
  }

  .header {
    padding: var(--main-gap-mobile, 10px);
  }

  .header__title {
    font-size: var(
      --header-font-size-mobile,
      clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem)
    );
    margin-inline-start: initial;
  }

  .header__content {
    display: block;
    width: 100%;
  }

  .decorated-zone__text::before {
    top: 10px;
    right: 38px;
  }

  .decorated-zone__text::after {
    top: 18px;
    right: 19px;
  }

  .decorated-zone::before {
    top: 10px;
    right: 10px;
  }

  .decorated-zone::after {
    bottom: 10px;
    left: 10px;
  }

  .content {
    padding: 40px var(--main-gap-mobile, 10px) 40px;
  }

  ul.content__card-list li {
    margin-block-end: 50px;
  }

  .content__card-first {
    display: flex;
    flex-direction: column;
  }

  .content__card-second {
    display: flex;
    flex-direction: column;
  }

  .content__card-second .content__heading {
    display: block;
    width: 100%;
  }

  .content__card-third {
    display: flex;
    flex-direction: column;
  }

  h5.card__title {
    margin-block-end: var(--main-gap-mobile, 10px);
  }

  .images__block {
    grid-template-columns: 1fr;
  }

  img {
    grid-row: initial;
    grid-column: initial;
  }

  .images__block {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .footer {
    padding: var(--main-gap-mobile, 10px);
  }

  .footer__copyright {
    font-size: var(
      --footer-font-size-mobile,
      clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem)
    );
  }
}
